body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:whitesmoke;
  font-family: Arial, sans-serif;
}
.container {
  width: 90%;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  max-height: 93vh;
}

.todo-application {
  background-color: #fefefe;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

h1 {
  text-align: center;
  color: #333;
  text-decoration: underline;
}

.todo-main {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}

button {
  background-color: rgb(96, 96, 219);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blue;
}

.list-container {
  margin-top: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li span {
  flex: 1;
  margin: 0 10px;
  text-transform: uppercase;
}

li .btn-style{
  background-color: #e74c3c;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

li button:hover {
  background-color: #c0392b;
}
.mark {
  text-decoration: line-through;
  font-style: italic;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="text"]:active {
  background-color: #f4f4f4;
}